{% extends 'base.html.twig' %}

{% block title %}New CompteRendue{% endblock %}

{% block body %}
    <h1>Create new CompteRendue</h1>

    {{ include('compte_rendue/_form.html.twig') }}

    <a href="{{ path('compte_rendue_index') }}">back to list</a>
{% endblock %}
